header {
    height: 50px;
    grid-column: 1/4;
    grid-row: 1/2;
    padding-right: 40px;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
}

#logo {
    width: 50px;
    height: 50px;
}

.contacts-links-container {
    float: right;
}

.contact-link {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.018em;
    color: #555555;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    height: 50px;
}

.active {
    background-color: rgba(0, 0, 0, 0.02);
    background: 
        linear-gradient(
            91.76deg, 
            #F7DC19 0.03%, 
            #EA482D 25.81%, 
            #624DA0 50.03%
        )
        left
        bottom
        no-repeat;
    background-size: 100% 2px; 
}

.social-link {
    margin-left: 19px;
}