/* 1. Blurred and cropped background */
#background {
    position: absolute;
    filter: blur(20px);
    z-index: -1;
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
/*    border: 5px solid blue;*/
}

/* 2. Contents on the center */
#page {
    color: #FFFFFF;
    z-index: 1;
    height: 100vh;
    width: 930px;
    display: flex;
    align-items: center;
/*    border: 5px solid yellow;*/
}

#page .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 2.1 */
.left-area {
    top: 253px;
    width: 450px;
    flex: 1;
/*    border: 5px solid green;*/
}

.left-area h1 {
    padding-top: 24px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 76px;
    background: linear-gradient(to right, #F7DC19 0, #EA482D 48.51%, #624DA0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    padding-top: 8px;
    padding-bottom: 32px;
    font-weight: bold;
    letter-spacing: 0.01em;
}

.left-area > p {
    padding-top: 8px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.01em; 
}

#logo {
    width: 96px;
    height: 96px;
    border-radius: 16px;
}

.download-img {
    width: 150px;
    height: 50px;
}

/* 2.2 */
.right-area {
    flex: 1;
    text-align: end;
/*    border: 5px solid aqua;*/
}

.right-area img {
    height: 500px;
    margin-right: -35px;
}

/* 3. */
footer {
    width: 100%;
    height: 50px;
    background-color: #000000;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
/*    border: 5px solid red;*/
}

footer p {
    color: #FFFFFF;
    display: inline;
    opacity: 0.5;
}

footer .margin-center {
    width: 930px;
}

.footer-links-container {
    display: flex;
    padding-top: 14px;
}

.copyright {
    flex: 1;
}

.contacts-container {
    flex: 2;
}

.contact-link {
    padding-right: 30px;
}

.social-links-container {
    padding-left: 20px;
}

.social-link {
    padding-left: 20px;
}