@font-face {
    font-family: "sf-pro";
    src: url("../font/SF-Pro-Display-Regular.otf");
}
@font-face {
    font-family: "sf-pro";
    src: url("../font/SF-Pro-Display-Bold.otf");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'sf-pro';
    background-color: #FFFFFF;
}

.margin-center {
    margin: auto;
}

a {
    text-decoration: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}