.container-grid {
    display: grid;
    grid-template-columns: 1fr 930px 1fr;
    grid-template-rows: 50px 1fr;
    grid-row-gap: 24px;
}

.page {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 60px;
    padding-bottom: 102px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page > p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 125%;
}

.members-container {
    margin-top: 54px;
}

.member {
    margin-top: 24px;
    background-color: #FAFAFA;
    height: 350px;
    padding-right: 80px;
/*    border: 5px solid blue;*/
}

.member-photo {
    width: 260px;
    height: 350px;
    background-color: #C4C4C4;
    display: inline-block;
}

.text {
    width: 450px;
    padding-top: 149px;
    padding-left: 40px;
    display: inline-block;
}

.member-name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: 0.018em;
    color: #000000;
    display: inline-block;
}

.position {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.018em;
    color: #555555;
    display: inline-block;
}

.company-logo {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}