.container-grid {
    display: grid;
    grid-template-columns: 1fr 670px 1fr;
    grid-template-rows: 50px 1fr;
    grid-row-gap: 24px;
}

.page {
    padding-top: 80px;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 670px;
    padding-bottom: 68px;
}

h1 {
    letter-spacing: 0.01em;
}

.date {
    padding-bottom: 50px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 15px;
}

h3 {
    padding-top: 50px;
    padding-bottom: 10px;
    letter-spacing: 0.018em;
}

p, ul > li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    letter-spacing: 0.018em;
}
ul {
    padding-left: 12px;
}

ul > li {
    list-style-image: url('../img/bullet.svg');
    color: #333333;
    padding-top: 20px;
    padding-left: 26px;
}

/* Accessibility concerns */
ul > li::before {
  content: "\200B";
}